@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.PostFile {
	margin-top: 14px;

	&-File {
		@include flexStyle();
		justify-content: space-between;
		border: 1px solid var(--skyBlue);
		border-radius: 5px;
		padding: 10px;
		color: var(--fontGray);

		&-Left {
			@include flexStyle();
			flex: 1;

			&-Icon {
				font-size: 28px;
				font-weight: bold;
				margin-right: 8px;
				color: var(--main);
			}
		}

		&-Filter {
			color: var(--main);
			font-size: 24px;
			cursor: pointer;
		}
	}
}
