@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

.PostFile {
	margin-top: 14px;
	cursor: pointer;

	&-File {
		@include flexStyle();
		border: 1px solid var(--skyBlue);
		border-radius: 5px;
		padding: 10px;
		color: var(--fontGray);

		&-Icon {
			font-size: 28px;
			font-weight: bold;
			margin-right: 8px;
			color: var(--main);
		}
	}
}
