.PostFile {
	margin-top: 14px;

	&-File {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		border: 1px solid var(--skyBlue);
		border-radius: 5px;
		padding: 10px;
		color: var(--fontGray);
		font-size: 14px;

		&-Icon {
			font-size: 28px;
			font-weight: bold;
			margin-right: 4px;
			color: var(--main);
		}
	}
}
