.SignUp {
	width: 100%;
	margin-top: 30px;

	&-Section {
		margin-bottom: 8px;

		&-Title {
			margin-bottom: 4px;
			font-size: 14px;
		}

		&-Mail {
			display: flex;
			display: -webkit-flex;
			justify-content: flex-end;
			margin-top: -2px;
		}
	}

	&-Exist {
		margin-top: 8px;
		padding: 0 4px;
		cursor: pointer;
		font-size: 14px;

		&:hover {
			opacity: 0.7;
		}
	}
}
