.MenuBar {
	display: flex;
	display: -webkit-flex;
	align-items: center;
	cursor: pointer;

	& > div {
		width: 8px;
		height: 8px;
		background-color: var(--gray);
		border-radius: 50%;
		margin-left: 4px;
	}
}
