@mixin alignCenter() {
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}

.PostForm {
	width: 100%;
	max-width: 1000px;
	margin: 2rem auto;
	padding: 4px;

	&-Files {
		margin: 10px 0;
		padding: 0 6px;
		max-height: 250px;
		overflow: auto;

		&::-webkit-scrollbar {
			width: 6px;
			background-color: var(--lighterGray);
			border-radius: 10px;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: var(--main);
		}
	}

	&-UploadWrap {
		display: flex;
		display: -webkit-flex;
		justify-content: flex-end;
		margin-top: 12px;
	}
}
