@mixin iconStyle($color) {
	color: $color;
	font-size: 24px;
	margin-right: 4px;
}

.OptionMenus {
	&-Icon {
		display: flex;
		display: -webkit-flex;
		align-items: center;
		padding: 8px 1rem;
		border-bottom: 1px solid var(--lighterGray);

		&-Delete {
			color: var(--red);
		}

		&-DeleteIcon {
			@include iconStyle(var(--red));
		}

		&-Modify {
			color: var(--black);
		}

		&-ModifyIcon {
			@include iconStyle(var(--black));
		}
	}
}
