@import 'styles/Palette/Palette.scss';

@mixin flexStyle() {
	display: flex;
	display: -webkit-flex;
	align-items: center;
}

@mixin iconStyle($color) {
	color: $color;
	font-size: 24px;
	margin-right: 4px;
}

.FeedBottom {
	margin-top: 10px;
	@include flexStyle();
	justify-content: space-between;

	&-Info {
		margin-top: 10px;
		@include flexStyle();
		justify-content: space-between;

		&-Profile {
			@include flexStyle();

			&-Image {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
				margin-right: 6px;
			}

			&-Name {
				font-size: 18px;
			}
		}

		&-Right {
			width: 45%;
			@include flexStyle();
			justify-content: space-evenly;

			&-Time {
				color: $fontGray;
				letter-spacing: 0.5px;
			}

			&-HeartWrap {
				@include flexStyle();

				&-Heart {
					@include iconStyle($main);
				}
			}

			&-CommentWrap {
				@include flexStyle();

				&-Comment {
					@include iconStyle($black);
				}
			}

			&-ViewWrap {
				@include flexStyle();

				&-View {
					@include iconStyle($black);
				}
			}
		}
	}

	&-Icon {
		display: flex;
		align-items: center;
		padding: 8px 1rem;
		border-bottom: 1px solid $lighterGray;

		&-Delete {
			color: $red;
		}

		&-DeleteIcon {
			@include iconStyle($red);
		}

		&-Modify {
			color: $black;
		}

		&-ModifyIcon {
			@include iconStyle($black);
		}
	}
}
