@import 'styles/Typography/Typography.scss';

.Category {
	width: 200px;
	max-width: 200px;
	margin-right: 2px;

	&-List {
		width: inherit;
		display: inline-block;
		position: sticky;
		top: 0px;
		line-height: 40px;
	}
}
